*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to top, #fbf0ea, #b0e1fa);
  min-height:100vh;
}
.card {
  width: 350px;
  background: linear-gradient(to top, #fbf0ea, #b0e1fa);
  margin: auto;
  margin-top: 70px;
  border-radius: 16px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15);
}
.card-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #e6e0e0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card-img:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15);
}
.name {
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
  color:#0c54b8;
}
.job {
  font-size: 15px;
  color: rgb(210, 96, 115);
  padding: 5px;
}
.social-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-top:15px;
}
.social-icons a {
  width: 40px;
  height: 40px;
  background: rgba(255, 192, 203, 0.35);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.social-icons a:hover{
  background-color: rgb(230, 228, 228);
}
.social-icons a i {
  font-size: 18px;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons a:hover i{
  color: #085bce;
  transform: scale(1.15);
}
